[Unit]
Description=NFS volume for Truenas
After=network.target

[Mount]
type=nfs
What=192.168.1.201:/mnt/tank
Where=/truenas
Options=_netdev,defaults

[Install]
WantedBy=multi-user.target
